<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12 jumbotron install">
    <!-- <h1>Lordium</h1> -->
    <h1>Install Lordium</h1>
  </div>
</div>

<div class="container">
	<div class="row">
	  <div class="col-sm-12 col-md-12 col-lg-12 jumbotron install-body">
	    <!-- <h1>Lordium</h1> -->
	    <h3> 1. Download</h3>
	    <p>Download Lordium from <a href="https://github.com/lordium/lordium/releases/download/v1.0.0-alpha.1/lordium_v1_0_0-alpha.1.zip">here</a> and unzip</p>
	    <hr>
	    <h3> 2. Run setup file</h3>
	    <p>Go to lordium directory and run below command</p>
	    <pre>./install.sh</pre>
	    <p>You will see setup running and installing dependencies</p>
	    <hr>
	    <h3>3. Install dependencies</h3>
	    <p>User below command to install dependencies</p>
	    <pre>sudo apt-get install libpq-dev python-dev</pre>
	    <hr>
	    <h3> 3. Run server</h3>
	    <p>After installation has completed, run below commad to activate virtual environment</p>
	    <pre>. .venv/bin/activate</pre>
	    <p>Finally, run the server</p>
	    <pre>python manage.py runserver</pre>
	  </div>
	</div>
</div>