    <div class="row ">
      <div class="col-sm-12 col-md-12 col-lg-12 lordium-logo-container ">
        <div class="lordium-logo">
          <object type="image/svg+xml" data="/images/lordium_logo.svg">Your browser does not support SVG</object>
        </div>
        <h1>Lordium</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 lordium-slogan jumbotron">
        <!-- <h1>Lordium</h1> -->
        <h1>Branded You!</h1>
        <p>Lordium creates your Website from your Instagram.</p>
      </div>
    </div>



    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h1><a href="https://github.com/lordium/lordium/releases/download/v1.0.0-alpha.1/lordium_v1_0_0-alpha.1.zip" class="btn btn-success btn-lg">Download Lordium</a></h1>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12">
        <p>v1.0.0-alpha</p>
      </div>
    </div>

    <div class="row jumbotron ">
      <div class="col-sm-6 col-md-6 col-lg-6 lordium-using">
        <div class="thumbnail">
          <img src="images/motivationalstream_demo.png" alt="...">
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 jumbotron lordium-using">
        <div class="">
          <h1>Responsive</h1>
          <p>Neat, fast and responsive front-end. Updates on scroll down, no more clicks.</p>
        </div>
      </div>

    </div>
    <div class="row jumbotron ">
      <div class="col-sm-6 col-md-6 col-lg-6 jumbotron lordium-using">
        <div class="">
          <h1>Dashboard</h1>
          <p>Gives you ability to manage your website, accounts, view your images and shows current data Statistics.</p>
          <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> -->
        </div>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-6  lordium-using">
        <div class="thumbnail">
          <img src="images/motivationalstream_dashboard.png" alt="...">
        </div>
      </div>

    </div>

    <div class="row jumbotron ">
      <div class="col-sm-6 col-md-6 col-lg-6  lordium-using">
        <div class="thumbnail">
          <img src="images/motivationalstream_posts.png" alt="...">
        </div>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-6 jumbotron lordium-using">
        <div class="">
          <h1>Posts Panel</h1>
          <p>View all posts or delete unwanted posts using posts panel.</p>
        </div>
      </div>
    </div>

    <div class="row jumbotron ">
      <div class="col-sm-6 col-md-6 col-lg-6 jumbotron lordium-using">
        <div class="">
          <h1>Accounts Panel</h1>
          <p>Add as much as Instagram accounts you can, its all yours.</p>
        </div>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-6  lordium-using">
        <div class="thumbnail">
          <img src="images/motivationalstream_accounts.png" alt="...">
        </div>
      </div>
    </div>
