    <div class="row ">
      <div class="col-sm-12 col-md-12 col-lg-12 lordium-logo-container ">
        <div class="lordium-logo">
          <object type="image/svg+xml" data="/images/lordium_logo.svg">Your browser does not support SVG</object>
        </div>
        <h1>Lordium</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 lordium-slogan jumbotron">
        <!-- <h1>Lordium</h1> -->
        <h1>you are already branded</h1>
        <p>Lordium takes your Instagram and makes a powerful website out of it.</p>
      </div>
    </div>